* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Define body background color */

body {
    background-color: #d9dcd6;
}

/* Define header padding, font, background color and text color */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Assign larger font size to Horiseon header */

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Adjust font color for "seo" portion of Horiseon header */

header h1 .seo {
    color: #d9dcd6;
}

/* Set navigation link fonts, size, padding and float to the right  */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Set navigation links as list types  */

header nav ul {
    list-style-type: none;
}

/* Set navigation links to display in-line and set a margin  */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set hyperlink text color to white and remove link default format  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set paragraph text font size */

p {
    font-size: 16px;
}

/* Format hero image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Floats SEO and Social Media Marketing images to the left with margin */

.float-left {
    float: left;
    margin-right: 25px;
}

/* Floats Online Reputation Marketing image to the right with margin */

.float-right {
    float: right;
    margin-left: 25px;
}

/* Define content presentation */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Define section presentation, font, background and font color */

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Define each section image max height */

section img {
    max-height: 200px;
}

/* Define each section heading font size and margin */

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Define benefits presentation, font, and backround */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Define each benefit category presentation and font color */

.benefit-category {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Define each benefit category header location */

.benefit-category h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Define each benefit image size and location */

.benefit-category img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Define footer presentation and font */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Define footer heading font size */


footer h4 {
    font-size: 20px;
}
